<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Calculate</title>
</head>
<body>
<H1>Calculator</H1>

<form action="/calculate" method="get">
    <label>
        <span>Average year salary:</span>
        <input type="text" name="salary" pattern="\d+(\.\d{0,2})?" required/>
    </label>
    <label>
        <span>Vacation days:</span>
        <input type="text" name="days" pattern="\d+" required/>
    </label>
    <button type="submit">Calculate</button>
</form>
<br>
<form action="/calculate" method="get">
    <label>
        <span>Average year salary:</span>
        <input type="text" name="salaryByCalendar" pattern="\d+(\.\d{0,2})?" required/>
    </label>
    <label>
        <span>Vacation from:</span>
        <input type="date" name="vacationFrom" required/>
    </label>
    <label>
        <span>Vacation to:</span>
        <input type="date" name="vacationTo" required/>
    </label>
    <button type="submit">Calculate</button>
</form>

<p>Vacation payments: <span th:text="${payments}"/> RUB</p>
</body>
</html>